## Heat

### 1. The coffee cooling problem

> Suppose I stop on the way to work to pick up a cup of coffee, which
I take with milk. Assuming that I want the coffee to be as hot as
possible when I arrive at work, should I add the milk at the coffee
shop, wait until I get to work, or add the milk at some point in
between?

To help answer this question, I made a trial run with the milk and coffee in
separate containers and took some measurements

- When served, the temperature of the coffee is `90℃`. The volume is `300 mL`.
- The milk is at an initial temperature of `5℃`, and I take about `50 mL`.
- The ambient temperature in my car is `22℃`.
- The coffee is served in a well insulated cup. When I arrive at work after
`30` minutes, the temperature of the coffee has fallen to `70℃`.
- The milk container is not as well insulated. After `15` minutes, it warms
up to `20℃`, nearly the ambient temperature.

### 2. Temperature and heat


> Heat is related to temperature by the following equation

$$ Q = C \Delta T \tag{1}\label{1}$$

- $Q$ : the amount of heat transferred to an object  

- $C$ : the thermal mass of the object, which quantifies how much energy it takes to heat or cool it.

    - $C = m \times c_p$    
        - $m$ : the mass of the object (e.g. the mass of 300mL of coffee is `300g`)
        - $c_p$ : the specific heat capacity of the material (e.g. heat capacity of water is `4.2 J/g ℃`)
    - (e.g. the thermal mass is 1260 J/℃) 
    
$$ C = m \times c_{coffee} = 300g \times 4.2 J/g ℃ = 1,260 J/℃ \tag{2}\label{2}$$



- $\Delta T$ : the change in temperature (e.g. when a cup of coffee cools from `90℃` to `70℃`, the change in temperature,
$\Delta T$ is `20`, which means that `25,200` J of heat energy was transferred from
the coffee to the surrounding environment)

$$ Q = 1,260 J/℃ \times 20℃ = 25,200 J \tag{3}\label{3}$$

### 3. Heat transfer

- Conduction : 서로 다른 온도의 물체가 만나 운동에너지 전달
- Convection : 유체의 흐름 
- Radiation : 방사선
---
- Newton’s law of cooling : simple!

### 4. Newton’s law of cooling

$$ \frac{dT}{dt} = -\gamma(T-T_{env}) \tag{4}\label{4}$$

- $T$ : the temperature of the object (a function of time $t$)
- $T_{env}$ : the temperature of the environment
- $\gamma$ :  a constant that characterizes how quickly heat is transferred between the system and the environment.
 (경우에 따라서, 실험적으로 추정해야함)

### 5. Implementation

In [10]:
from modsim import *

In [12]:
# initial temperature
init = State(T=90)

In [38]:
# And a System object to contain the parameters of the system:
coffee = System(init=init,
                volume=300,
                r=0.01,
                T_env=22,
                t_0=0,
                t_end=30,
                dt=1)

In [46]:
def update_func(state, t, system):
    r, T_env, dt = system.r, system.T_env, system.dt
    print("r : {}".format(r))
    print("T_env : {}".format(T_env))
    print("dt : {}".format(dt))
    T = state.T
    print("T : {}".format(T))    
    T += -r * (T - T_env) * dt
    return State(T=T)

In [47]:
update_func(init, 0, coffee)

r : 0.01
T_env : 22
dt : 1
T : 90

T    89.32
dtype: float64

In [25]:
def run_simulation(system, update_func):
    init = system.init
    t_0, t_end, dt = system.t_0, system.t_end, system.dt
    frame = TimeFrame(columns=init.index)
    frame.row[t_0] = init
    ts = linrange(t_0, t_end, dt)
    for t in ts:
        frame.row[t+dt] = update_func(frame.row[t], t, system)
    return frame

In [27]:
results = run_simulation(coffee, update_func)

In [29]:
results

          T
0        90
1     89.32
2   88.6468
3   87.9803
4   87.3205
5   86.6673
6   86.0207
7   85.3804
8   84.7466
9   84.1192
10   83.498
11   82.883
12  82.2742
13  81.6714
14  81.0747
15   80.484
16  79.8991
17  79.3201
18  78.7469
19  78.1795
20  77.6177
21  77.0615
22  76.5109
23  75.9658
24  75.4261
25  74.8919
26  74.3629
27  73.8393
28  73.3209
29  72.8077
30  72.2996

In [52]:
def make_system(T_init, r, volume, t_end):
    init = State(T=T_init)
    return System(init=init,
                  r=r,
                  volume=volume,
                  temp=T_init,
                  t_0=0,
                  t_end=t_end,
                  dt=1,
                  T_env=22)

In [53]:
coffee = make_system(T_init=90, r=0.01, volume=300, t_end=30)
results = run_simulation(coffee, update_func)

r : 0.01
T_env : 22
dt : 1
T : 90
r : 0.01
T_env : 22
dt : 1
T : 89.32
r : 0.01
T_env : 22
dt : 1
T : 88.6468
r : 0.01
T_env : 22
dt : 1
T : 87.980332
r : 0.01
T_env : 22
dt : 1
T : 87.32052868000001
r : 0.01
T_env : 22
dt : 1
T : 86.66732339320001
r : 0.01
T_env : 22
dt : 1
T : 86.020650159268
r : 0.01
T_env : 22
dt : 1
T : 85.38044365767531
r : 0.01
T_env : 22
dt : 1
T : 84.74663922109856
r : 0.01
T_env : 22
dt : 1
T : 84.11917282888757
r : 0.01
T_env : 22
dt : 1
T : 83.4979811005987
r : 0.01
T_env : 22
dt : 1
T : 82.88300128959271
r : 0.01
T_env : 22
dt : 1
T : 82.27417127669679
r : 0.01
T_env : 22
dt : 1
T : 81.67142956392982
r : 0.01
T_env : 22
dt : 1
T : 81.07471526829052
r : 0.01
T_env : 22
dt : 1
T : 80.48396811560761
r : 0.01
T_env : 22
dt : 1
T : 79.89912843445154
r : 0.01
T_env : 22
dt : 1
T : 79.32013715010703
r : 0.01
T_env : 22
dt : 1
T : 78.74693577860596
r : 0.01
T_env : 22
dt : 1
T : 78.17946642081989
r : 0.01
T_env : 22
dt : 1
T : 77.6176717566117
r : 0.01
T_env : 22
dt : 1
T : 77.06149503904558
r : 0.01
T_env : 22
dt : 1
T : 76.51088008865513
r : 0.01
T_env : 22
dt : 1
T : 75.96577128776858
r : 0.01
T_env : 22
dt : 1
T : 75.42611357489089
r : 0.01
T_env : 22
dt : 1
T : 74.89185243914199
r : 0.01
T_env : 22
dt : 1
T : 74.36293391475057
r : 0.01
T_env : 22
dt : 1
T : 73.83930457560307
r : 0.01
T_env : 22
dt : 1
T : 73.32091152984704
r : 0.01
T_env : 22
dt : 1
T : 72.80770241454857

### Reference

- []
- [Reinforcement Learning based Energy Optimization in Factories](https://towardsdatascience.com/reinforcement-learning-based-energy-optimization-dea8fb687cda)
- [..]()